<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: page_head()}"></head>
<body>

<div th:fragment="uploadModal" id="add-product" class="modal-container hidden">

    <!-- Modal Content -->
    <div class="modal-content">
        <!-- Close Button -->
        <button id="close-modal" class="modal-close-btn">&times;</button>

        <!-- Title Section -->
        <div class="flex gap-2 justify-center w-full items-center">
            <div class="modal-title">
                <h2>Excel File Upload</h2>
            </div>
            <div class="flex justify-end">
                <a href="/upload_product_example.xlsx" download
                   class="inline-flex items-center gap-2 px-4 py-2 border border-black text-black text-sm rounded-md hover:bg-black hover:text-white transition">
                    <i class="ri-download-line text-lg"></i>
                    Download Template
                </a>
            </div>
        </div>
        <!-- Upload Form -->
        <form
                class="upload-form"
                @submit.prevent="uploadExcel"
                enctype="multipart/form-data"
                x-data="excelUploader"
                id="upload-xlsx-form"
                method="post"
                th:action="@{/form/product/xlsx}"
        >
            <div>
                <label class="upload-label">Attach Excel Document</label>

                <label id="drop-zone" class="drop-zone" for="file-input">
                    <img class="upload-image"
                         src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg"
                         alt="Upload illustration">
                    <p class="upload-text">Drag and drop files here</p>
                    <p class="upload-text">
                        or <span class="upload-link">select a file</span> from your computer
                    </p>
                </label>

                <input
                        id="file-input"
                        type="file"
                        class="hidden"
                        name="file"
                        accept=".xlsx"
                        @change="setFile($event)"
                >
            </div>

            <label class="preview-container" x-text="fileName || 'No file selected'"></label>

            <div class="flex justify-center col-span-2 mt-4">
                <button type="submit" class="contact-btn">
                    <span class="contact-btn-text">Upload</span>
                </button>
            </div>
        </form>
        <script>
            document.addEventListener('alpine:init', () => {
                Alpine.data('excelUploader', () => ({
                    file: null,
                    fileName: '',

                    setFile(event) {
                        const selected = event.target.files[0];
                        if (selected) {
                            this.file = selected;
                            this.fileName = selected.name;
                        }
                    },

                    async uploadExcel() {
                        if (!this.file) {
                            alert("Please select a file first!");
                            return;
                        }
                        const form = document.getElementById('upload-xlsx-form');
                        form.submit();


                    }
                }))
            });
        </script>
    </div>
</div>

</body>
</html>
