<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: page_head()}"></head>
<body>

    <div th:fragment="uploadModal" id="add-product" class="modal-container hidden">
        
        <!-- Modal Content -->
        <div class="modal-content">
            <!-- Close Button -->
            <button id="close-modal" class="modal-close-btn">&times;</button>

            <!-- Title Section -->
            <div class="modal-title">
                <h2>Excel File Upload</h2>
            </div>

            <!-- Upload Form -->
            <form class="upload-form" th:action="@{/upload}" method="POST" enctype="multipart/form-data">
                <div>
                    <label class="upload-label">Attach Excel Document</label>
                    
                    <!-- Drag & Drop Area (Clickable) -->
                    <label id="drop-zone" class="drop-zone" for="file-input">
                        <img class="upload-image" 
                            src="https://img.freepik.com/free-vector/image-upload-concept-landing-page_52683-27130.jpg?size=338&ext=jpg" 
                            alt="Upload illustration">

                        <p class="upload-text">Drag and drop files here</p>
                        <p class="upload-text">
                            or <span class="upload-link">select a file</span> from your computer
                        </p>
                    </label>

                    <!-- Hidden File Input -->

                    <input id="file-input" type="file" class="hidden" name="files" accept=".xls,.xlsx" multiple>

                </div>

                <label id="file-name-label" class="preview-container">No file selected</label>

                <!-- Upload Button -->
                <div class="flex justify-center col-span-2 mt-4">    
                    <button class="contact-btn">
                        <span class="contact-btn-text">Upload</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
