<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: page_head(pageTitle='Checkout')}"></head>
<body>

<div th:fragment="productModal" id="product" class="modal-container hidden" x-data="editProductModal">
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet">
    <!-- Modal Content -->
    <div class="modal-content !max-w-5xl">
        <!-- Close Button -->
        <button id="close-modal" class="modal-close-btn">&times;</button>

        <!-- Title Section -->
        <div class="modal-title">
            <h2>Products</h2>
        </div>

        <div x-data="productTable" x-init="fetchProducts()" class="pt-4">

            <!-- Search -->
            <div class="flex justify-between mb-4">
                <input
                        type="text"
                        placeholder="Search..."
                        x-model="query.keyword"
                        @input.debounce.500ms="fetchProducts"
                        class="px-4 py-2 border border-gray-300 focus:outline-none focus:ring-orange-600"
                />
            </div>

            <!-- Table -->
            <div class="relative overflow-x-auto max-h-96 overflow-y-auto sm:rounded-lg">
                <table class="shadow-md w-full">
                    <thead class="font-semibold text-gray-700 bg-gray-100">
                    <tr>
                        <th class="px-4 py-2 text-left">#</th>
                        <th class="px-4 py-2 text-left">Name</th>
                        <th class="px-4 py-2 text-left">Price</th>
                        <th class="px-4 py-2 text-left">Stock</th>
                        <th class="px-4 py-2 text-left">Category</th>
                        <th class="px-4 py-2 text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="(product, index) in products" :key="product.id">
                        <tr class="text-gray-700 even:bg-gray-50 hover:text-orange-500">
                            <td class="px-4 py-2 border-b" x-text="(page - 1) * size + index + 1"></td>
                            <td class="px-4 py-2 border-b" x-text="product.name"></td>
                            <td class="px-4 py-2 border-b" x-text="`$${product.price}`"></td>
                            <td class="px-4 py-2 border-b" x-text="product.stock"></td>
                            <td class="px-4 py-2 border-b" x-text="product.category.name"></td>
                            <td class="px-4 py-2 border-b text-center">
                                <!-- Action icons -->
                                <button class="mr-2 text-blue-500 hover:text-blue-700"
                                        @click="open(product.id)">
                                    <i class="ri-edit-2-line"></i>
                                </button>
                                <button
                                        class="text-red-500 hover:text-red-700"
                                        @click="confirmDelete(product)"
                                >
                                    <i class="ri-delete-bin-line"></i>
                                </button>
                            </td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>

            <!-- Pagination -->
            <div class="flex justify-between items-center mt-4">
                <div>
                    <span x-text="`Showing ${((page - 1) * size + 1)} - ${Math.min(page * size, total)} of ${total}`"></span>
                </div>
                <div class="space-x-1 flex items-center">
                    <button @click="prevPage" :disabled="page === 1"
                            class="px-2 py-1 border rounded hover:bg-gray-200"
                            :class="{ 'opacity-50 cursor-not-allowed': page === 1 }">
                        Prev
                    </button>

                    <template x-for="p in totalPages" :key="p">
                        <button
                                @click="page = p; fetchProducts()"
                                class="px-3 py-1 border rounded hover:bg-orange-100"
                                :class="{
                'bg-orange-500 text-white': page === p,
                'bg-white text-gray-700': page !== p
            }"
                        >
                            <span x-text="p"></span>
                        </button>
                    </template>

                    <button @click="nextPage" :disabled="page === totalPages"
                            class="px-2 py-1 border rounded hover:bg-gray-200"
                            :class="{ 'opacity-50 cursor-not-allowed': page === totalPages }">
                        Next
                    </button>
                </div>

            </div>
            <template x-teleport="body">
                <div x-show="deleteModalOpen" x-cloak
                     class="fixed inset-0 z-[999] flex items-center justify-center bg-black/40">
                    <div
                            @click.outside="deleteModalOpen = false"
                            class="bg-white w-full max-w-md mx-auto p-6 rounded-lg shadow-lg"
                    >
                        <h3 class="text-lg font-semibold mb-4">Are you sure to delete product <b
                                x-text="deleteTarget?.name"></b>?</h3>
                        <p class="text-sm text-gray-600 mb-6">This will permanently delete this product. This action
                            cannot
                            be undone.</p>
                        <div class="flex justify-end space-x-2">
                            <button @click="deleteModalOpen = false"
                                    class="px-4 py-2 text-sm border rounded hover:bg-gray-100">Cancel
                            </button>
                            <button @click="deleteProduct"
                                    class="px-4 py-2 text-sm text-white bg-red-600 rounded hover:bg-red-700">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </template>
        </div>


        <script>
            document.addEventListener('alpine:init', () => {
                Alpine.data('productTable', () => ({
                    products: [],
                    total: 0,
                    page: 1,
                    size: 20,
                    query: {
                        keyword: ''
                    },
                    deleteModalOpen: false,
                    deleteTarget: null,
                    confirmDelete(product) {
                        this.deleteTarget = product;
                        this.deleteModalOpen = true;
                    },
                    async deleteProduct() {
                        if (!this.deleteTarget) return;

                        try {
                            const res = await fetch(`/api/product/${this.deleteTarget.id}`, {
                                method: 'DELETE'
                            });

                            if (!res.ok) throw new Error('Failed to delete');

                            this.products = this.products.filter(p => p.id !== this.deleteTarget.id);
                            this.deleteTarget = null;
                            this.deleteModalOpen = false;
                            setTimeout(() => {
                                alert('Product deleted successfully');
                            }, 50);
                        } catch (err) {
                            alert('Delete failed');
                            console.error(err);
                        }
                    },
                    init() {
                        window.fetchProducts = this.fetchProducts;
                    },

                    async fetchProducts() {
                        const params = new URLSearchParams({
                            page: this.page,
                            pageSize: this.size,
                            search: this.query.keyword || ''
                        });

                        const res = await fetch(`/api/product?${params.toString()}`);
                        if (!res.ok) {
                            alert('Failed to load products.');
                            return;
                        }

                        this.products = await res.json();
                        this.total = parseInt(res.headers.get("X-Total-Count"));
                    },
                    get totalPages() {
                        return Math.ceil(this.total / this.size);
                    },
                    nextPage() {
                        if (this.page * this.size < this.total) {
                            this.page++;
                            this.fetchProducts();
                        }
                    },

                    prevPage() {
                        if (this.page > 1) {
                            this.page--;
                            this.fetchProducts();
                        }
                    }
                }));
            });
        </script>

    </div>


    <template x-teleport="body">
        <div x-show="modalOpen" x-cloak
             class="fixed inset-0 z-[999] flex items-center justify-center bg-black/40">
            <div @click.outside="modalOpen = false"
                 class="bg-white w-full max-w-2xl mx-auto p-6 rounded-lg shadow-lg overflow-y-auto max-h-[90vh]">
                <h3 class="text-xl font-bold mb-4">Edit Product</h3>
                <form @submit.prevent="submitForm">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                        <div>
                            <label class="block mb-1 font-semibold">Name</label>
                            <input required x-model="form.name" type="text" class="w-full border px-3 py-2 rounded"
                                   minlength="3"/>
                        </div>
                        <div>
                            <label class="block mb-1 font-semibold">Category</label>
                            <select required x-model="form.categoryId" class="w-full border px-3 py-2 rounded">
                                <template x-for="c in categories" :key="c.id">
                                    <option :value="c.id" x-text="c.name"></option>
                                </template>
                            </select>
                        </div>
                        <div>
                            <label class="block mb-1 font-semibold">Price($)</label>
                            <input required x-model="form.price" step="0.01" min="0" type="number"
                                   class="w-full border px-3 py-2 rounded"/>
                        </div>
                        <div>
                            <label class="block mb-1 font-semibold">Discount (%)</label>
                            <input required x-model="form.discount" type="number" min="0" max="100"
                                   class="w-full border px-3 py-2 rounded"/>
                        </div>
                        <div>
                            <label class="block mb-1 font-semibold">Stock</label>
                            <input required x-model="form.stock" type="number" min="0"
                                   class="w-full border px-3 py-2 rounded"/>
                        </div>
                        <div>
                            <label class="block mb-1 font-semibold">Main Image</label>
                            <input @change="handleFile($event, 'image')" type="file" class="w-full"/>
                        </div>
                        <div>
                            <label class="block mb-1 font-semibold">Gallery Images</label>
                            <input @change="handleFile($event, 'galleries')" type="file" multiple class="w-full"/>
                        </div>
                        <div class="sm:col-span-2"
                             x-init="
                           quill = new Quill(document.getElementById('quillEditor'), {
                                                theme: 'snow',
                                            });
                            quill.on('text-change', () => form.description = quill.root.innerHTML);
                        "
                        >
                            <label class="block mb-1 font-semibold">Description</label>
                            <!-- Hiển thị Editor -->
                            <div id="quillEditor" class="bg-white border rounded h-40 overflow-auto"
                                 style="max-height: 200px;"></div>
                        </div>
                    </div>
                    <div class="mt-6 flex justify-end space-x-2">
                        <button @click="modalOpen = false" type="button"
                                class="px-4 py-2 border rounded hover:bg-gray-100">Cancel
                        </button>
                        <button type="submit"
                                class="px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded">Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </template>
    <script>
        window.editProductModal = () => ({
            modalOpen: false,
            form: {
                id: null,
                name: '',
                categoryId: '',
                price: '',
                discount: '',
                image: null,
                stock: '',
                description: '',
                galleries: []
            },
            quill: null,
            categories: [],

            open(id) {
                this.resetForm();
                this.modalOpen = true;
                this.fetchCategories();
                this.fetchProduct(id);
            },


            resetForm() {
                this.form = {
                    id: null,
                    name: '',
                    categoryId: '',
                    price: '',
                    discount: '',
                    image: null,
                    stock: '',
                    description: '',
                    galleries: []
                };
            },

            handleFile(event, type) {
                if (type === 'image') {
                    this.form.image = event.target.files[0];
                } else if (type === 'galleries') {
                    this.form.galleries = Array.from(event.target.files);
                }
            },

            async fetchCategories() {
                try {
                    const res = await fetch('/api/category');
                    this.categories = await res.json();
                } catch (err) {
                    alert('Failed to load categories');
                }
            },

            async fetchProduct(id) {
                try {
                    const res = await fetch(`/api/product/${id}`);
                    const data = await res.json();
                    this.form = {
                        ...this.form,
                        id: data.id,
                        name: data.name,
                        categoryId: data.category.id,
                        price: data.price,
                        discount: data.discount,
                        stock: data.stock,
                        description: data.description,
                    };
                    setTimeout(() => {
                        console.log(this.quill, '2');
                        this.quill.root.innerHTML = data.description;
                    }, 500);
                } catch (err) {
                    console.error(err);
                    alert('Failed to load product detail');
                }
            },

            async submitForm() {
                const formData = new FormData();
                for (const key in this.form) {
                    if (key === 'galleries') {
                        this.form.galleries.forEach(file => formData.append('galleries', file));
                    } else if (key === 'image' && this.form.image) {
                        formData.append('image', this.form.image);
                    } else {
                        formData.append(key, this.form[key]);
                    }
                }

                try {
                    const res = await axios.post(`/api/product/${this.form.id}/update`, formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    });

                    alert('Product updated successfully');
                    this.modalOpen = false;
                    window.fetchProducts && window.fetchProducts();
                } catch (err) {
                    alert('Failed to update product');
                }

            }
        });
        document.addEventListener('alpine:init', () => {
            Alpine.data('editProductModal', window.editProductModal);
        });

    </script>
</div>

</body>
</html>
