<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: page_head(pageTitle='Home')}"></head>
<body>
  <header th:replace="~{base :: navbar}"></header>
  <header th:replace="~{base :: searchbar}"></header>
  <div th:replace="~{base :: searchOverlay}"></div>

  <!-- Banner -->
  <section class="slider-container" id="customSlider">
    <div class="slider-slide active">
      <img src="/imgs/image1.jpg" alt="Banner 1" class="slider-image">
      <div class="slider-overlay">
        <h3 class="text-3xl md:text-5xl font-bold">Experience Next-Level Gaming</h3>
        <p class="text-lg md:text-xl mt-2">Get the latest gaming gear at unbeatable prices.</p>
      </div>
    </div>
    <div class="slider-slide">
      <img src="/imgs/image2.jpg" alt="Banner 2" class="slider-image">
      <div class="slider-overlay">
        <h3 class="text-3xl md:text-5xl font-bold">Upgrade Your Setup</h3>
        <p class="text-lg md:text-xl mt-2">Find the best accessories to enhance your gaming experience.</p>
      </div>
    </div>
  </section>

  <!-- Features -->
  <div class="features">
    <div class="features-grid">
      <div class="features-border">
        <i class="ri-truck-line features-icon"></i>
        <div>
          <h4 class="features-heading">Free Shipping</h4>
          <p class="features-content">Order over $200</p>
        </div>
      </div>

      <div class="features-border">
        <i class="ri-refund-2-line features-icon"></i>
        <div>
          <h4 class="features-heading">Money returns</h4>
          <p class="features-content">30 days money return</p>
        </div>
      </div>

      <div class="features-border">
        <i class="ri-customer-service-2-line features-icon"></i>
        <div>
          <h4 class="features-heading">24/7 Support</h4>
          <p class="features-content">Customer Support</p>
        </div>
      </div>
    </div>
  </div>

  <!-- New Arrival -->
  <div class="section">
    <div class="section-container">
      <h2 class="section-title">New Arrival</h2>
  
      <section class="sliding-slider-container" id="newArrivalSlider">
        <div class="sliding-slider-wrapper">
          <div class="sliding-slider-slide">
            <img src="/imgs/image2.jpg" alt="New Arrival" class="sliding-slider-image">
            <div class="slider-overlay">
              <h3 class="section-text-header">8BitDo Ultimate Mini Wired Controller for Xbox</h3>
              <p class="section-text-content">
                Compact and lightweight. Features RGB lighting Fire Ring. Officially licensed by Xbox.
              </p>
              <a href="" class="section-product-link">
                Buy now
              </a>    
            </div>
          </div>
          <div class="sliding-slider-slide">
            <img src="/imgs/image1.jpg" alt="Banner 2" class="sliding-slider-image">
            <div class="slider-overlay">
              <h3 class="section-text-header">8BitDo Ultimate Mini Wired Controller for Xbox</h3>
              <p class="section-text-content">
                Compact and lightweight. Features RGB lighting Fire Ring. Officially licensed by Xbox.
              </p>
              <a href="" class="section-product-link">
                Buy now
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- Hot Sale -->
  <div class="section">
    <div class="section-container">
      <h2 class="section-title">Hot Sale</h2>

      <div class="section-grid">
        <div th:each="product : ${hotSaleProducts}">
          <a th:href="@{'/product-view/' + ${product.id}}">
            <div th:replace="~{product :: productCard(
                @{'/imgs/' + ${product.image}},
                ${product.name},
                ${product.price},
                ${product.price + 10}
            )}"></div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Limited Edition -->
  <div class="section">
    <div class="section-container">
      <h2 class="section-title">Limited Edition</h2>

      <div class="section-grid">
        <div th:each="product : ${limitedEditionProducts}">
          <a th:href="@{'/product-view/' + ${product.id}}">
            <div th:replace="~{product :: productCard(
                @{'/imgs/' + ${product.image}},
                ${product.name},
                ${product.price},
                ${product.price + 20}
            )}"></div>
          </a>
        </div>
      </div>
    </div>
  </div>


  <script src="/js/swiper.js"></script>
  <script src="/js/slider.js"></script>

  <footer th:replace="~{base :: footer}"></footer>
  <div th:replace="~{base :: copyright}"></div>

  <script src="/js/searchbar.js"></script>

</body>
</html>