<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: page_head(pageTitle='Login/Register')}"></head>
<body>
<header th:replace="~{base :: navbar}"></header>
<header th:replace="~{base :: searchbar}"></header>
<div th:replace="~{base :: searchOverlay}"></div>

<div class="body">
    <div class="wrapper !w-[850px]" x-data="pageController">
        <!-- LOGIN / REGISTER SECTION -->
        <template x-if="currentView !== 'forgotPassword'">
            <div>
                <span class="bg1"></span>

                <div class="form-wrapper login">
                    <h2 class="title">Login</h2>
                    <div th:if="${msg}" class="text-green-500 text-sm mt-2">
                        <p th:text="${msg}"></p>
                    </div>
                    <div th:if="${param.error}" class="text-red-500 text-sm mt-2">
                        <p>Error: Invalid email or password.</p>
                        <!--                        <script>-->
                        <!--                            window.history.replaceState(-->
                        <!--                                {},-->
                        <!--                                document.title,-->
                        <!--                                window.location.pathname-->
                        <!--                            );-->
                        <!--                        </script>-->
                    </div>

                    <form action="/signin" method="post" th:action="@{/signin}"

                    >
                        <div class="input-box">
                            <input type="email" name="email" required/>
                            <label>Email</label>
                        </div>
                        <div class="input-box">
                            <input type="password" name="password" required
                            />
                            <label>Password</label>
                        </div>
                        <div class="remember-me">
                            <input type="checkbox" name="rememberMe" id="rememberMe"/>
                            <label for="rememberMe">Remember me</label>
                        </div>
                        <!-- CSRF Token - Spring Security yêu cầu -->
                        <input
                                type="hidden"
                                name="${_csrf.parameterName}"
                                value="${_csrf.token}"
                        />
                        <div class="flex justify-center col-span-2 mt-4">
                            <button type="submit" class="contact-btn">
                                <span class="contact-btn-text">Login</span>
                            </button>
                        </div>
                        <div class="link">
                            <p>
                                Don't have an account?
                                <a href="#" class="signup-link" @click.prevent="switchToSignup">SignUp</a>
                            </p>
                        </div>
                        <div class="link">
                            <p>
                                Forgot your password?
                                <a href="#" class="signup-link" @click.prevent="switchView('forgotPassword')">Reset
                                    password</a>
                            </p>
                        </div>
                    </form>
                </div>

                <div class="info-wrapper login">
                    <h2>Welcome Back</h2>
                    <p>Login into your account to access our services</p>
                </div>

                <span class="bg2"></span>

                <div class="form-wrapper register">
                    <h2 class="title">Signup</h2>
                    <form
                            action="#"
                            th:action="@{/register}"
                            method="post"
                            x-data="registerForm()"
                            @submit.prevent="validateForm"
                    >
                        <!--                        <div class="input-box">-->
                        <!--                            <input type="text" name="name" id="name" x-model="name"/>-->
                        <!--                            <label>Name</label>-->
                        <!--                        </div>-->
                        <small
                                class="text-red-500 text-sm -mt-4 block"
                                x-show="errors.name"
                                x-text="errors.name"
                        ></small>

                        <div class="input-box">
                            <input type="text" name="email" id="email"
                                   x-model="email"/>
                            <label>Email</label>
                        </div>
                        <small
                                class="text-red-500 text-sm -mt-4 block"
                                x-show="errors.email"
                                x-text="errors.email"
                        ></small>

                        <div class="input-box">
                            <input type="password" name="password" id="password" x-model="password"/>
                            <label>Password</label>
                        </div>
                        <small
                                class="text-red-500 text-sm -mt-4 block"
                                x-show="errors.password"
                                x-text="errors.password"
                        ></small>

                        <div class="input-box">
                            <input type="password" name="confirmPassword" id="confirmPassword"
                                   x-model="confirmPassword"/>
                            <label>Confirm Password</label>
                        </div>
                        <small
                                class="text-red-500 text-sm -mt-4 block"
                                x-show="errors.confirmPassword"
                                x-text="errors.confirmPassword"
                        ></small>

                        <div class="flex justify-center col-span-2 mt-4">
                            <button type="submit" class="contact-btn">
                                <span class="contact-btn-text">Register</span>
                            </button>
                        </div>

                        <div class="link">
                            <p>
                                Already have an account?
                                <a href="#" class="login-link" @click.prevent="switchToLogin">Login</a>
                            </p>
                        </div>
                    </form>
                </div>

                <div class="info-wrapper register">
                    <h2>Welcome!</h2>
                    <p>Create your account to access our services</p>
                </div>
            </div>
        </template>

        <!-- FORGOT PASSWORD SECTION -->
        <template x-if="currentView === 'forgotPassword'">
            <div>
                <span class="bg1"></span>

                <!-- FORGOT PASSWORD FORM (REQUEST RESET LINK) -->
                <div class="form-wrapper login" x-show="!hasToken">
                    <h2 class="title">Reset Password</h2>
                    <div x-show="resetMessages.error" class="text-red-500 text-sm mt-2">
                        <p x-text="resetMessages.error"></p>
                    </div>
                    <div x-show="resetMessages.success" class="text-green-500 text-sm mt-2">
                        <p x-text="resetMessages.success"></p>
                    </div>

                    <form method="post" th:action="@{/request-reset-password}"
                          th:object="${requestPasswordRequest}"
                    >

                        <div class="input-box">
                            <input type="email" th:field="*{email}" x-model="forgotEmail" name="email" required/>
                            <label>Email</label>
                        </div>
                        <!-- CSRF Token -->
                        <input
                                type="hidden"
                                name="${_csrf.parameterName}"
                                value="${_csrf.token}"
                        />
                        <div class="flex justify-center col-span-2 mt-4">
                            <button type="submit" class="contact-btn" :disabled="isSubmitting">
                                <span class="contact-btn-text"
                                      x-text="isSubmitting ? 'Sending...' : 'Send Reset Link'"></span>
                            </button>
                        </div>
                        <div class="link">
                            <p>
                                Remember your password?
                                <a href="#" class="signup-link" @click.prevent="switchView('login')">Back to Login</a>
                            </p>
                        </div>
                    </form>
                </div>

                <div class="info-wrapper login" x-show="!hasToken">
                    <h2>Password Recovery</h2>
                    <p>Enter your email to receive a password reset link</p>
                </div>

                <!-- RESET PASSWORD WITH TOKEN FORM -->
                <div class="form-wrapper login" x-show="hasToken">
                    <h2 class="title">Set New Password</h2>
                    <div x-show="!isTokenValid" class="text-red-500 text-sm mt-2">
                        <p>Error: Invalid or expired token.</p>
                    </div>
                    <div x-show="resetMessages.error" class="text-red-500 text-sm mt-2">
                        <p x-text="resetMessages.error"></p>
                    </div>
                    <div x-show="resetMessages.success" class="text-green-500 text-sm mt-2">
                        <p x-text="resetMessages.success"></p>
                    </div>

                    <form
                            th:action="@{/reset-password}"
                            method="post"
                            x-show="isTokenValid">
                        <input type="hidden" name="token" x-model="token"/>

                        <div class="input-box">
                            <input
                                    x-model="newPassword"
                                    required
                                    name="password"
                                    pattern="(?=.*[A-Za-z])(?=.*\d).{6,}"
                                    title="Password must be at least 6 characters long and contain at least one letter and one number"
                                    type="password"/>
                            <label>New Password</label>
                        </div>
                        <small
                                class="text-red-500 text-sm -mt-4 block mb-8"
                                x-show="passwordError"
                                x-text="passwordError"
                        ></small>

                        <div class="input-box mt-4">
                            <input
                                    x-model="confirmNewPassword"
                                    type="password" required/>
                            <label>Confirm Password</label>
                        </div>
                        <small
                                class="text-red-500 text-sm -mt-4 block"
                                x-show="confirmPasswordError"
                                x-text="confirmPasswordError"
                        ></small>

                        <input
                                type="hidden"
                                name="${_csrf.parameterName}"
                                value="${_csrf.token}"
                        />

                        <div class="flex justify-center col-span-2 mt-4">
                            <button type="submit" class="contact-btn" :disabled="isSubmitting">
                                <span class="contact-btn-text"
                                      x-text="isSubmitting ? 'Processing...' : 'Reset Password'"></span>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="info-wrapper register" x-show="hasToken">
                    <h2>Almost There!</h2>
                    <p>Enter your new password to complete the reset process</p>
                </div>

                <span class="bg2"></span>
            </div>
        </template>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const initialPage = [[${page}]] || 'login';
    const isTokenValid = [[${isTokenValid}]];
    const token = [[${token}]];
    const email = [[${email}]];
    const hasToken = !!(token);
    const isEmailExists = [[${isEmailExists}]] || false;
    window.token = token;
    /*]]>*/
</script>

<script>
    const query = new URLSearchParams(window.location.search);
    const isSendMailError = query.get('error') === 'true' && query.get('reset') === 'true';
    const isSendMailSuccess = query.get('error') === 'false' && query.get('reset') === 'true';
    document.addEventListener('alpine:init', () => {
        Alpine.data('pageController', () => ({

            currentView: initialPage.toLowerCase(),
            forgotEmail: '',
            newPassword: '',
            confirmNewPassword: '',
            token: token || '',
            hasToken: hasToken || false,
            isTokenValid: isTokenValid || false,
            isSubmitting: false,
            passwordError: '',
            confirmPasswordError: '',
            resetMessages: {
                error: isSendMailError ? "Failed to send reset link. Please try again." : '',
                success: isSendMailSuccess ? "Reset link sent. Please check your email." : ''
            },

            init() {
                // Handle query parameters for view selection
                const urlParams = new URLSearchParams(window.location.search);
                if (urlParams.has('signup') || initialPage === 'register') {
                    this.currentView = 'register';
                    document.querySelector(".wrapper").classList.add('active');
                } else if (urlParams.has('reset')) {
                    this.currentView = 'forgotPassword';
                }

                // If we have a token, go directly to reset password view
                if (this.hasToken) {
                    this.currentView = 'forgotPassword';
                    this.resetMessages = {error: '', success: ''};
                    if (!this.isTokenValid) {
                        this.resetMessages.error = "Invalid or expired token.";
                    }
                }
                console.log(this.currentView);

                // Clean URL
                // window.history.replaceState({}, document.title, window.location.pathname);
            },

            switchView(view) {
                this.currentView = view;
                this.resetMessages = {error: '', success: ''};

                // Return to login view by default when exiting forgotPassword
                if (view === 'login') {
                    document.querySelector(".wrapper").classList.remove('active');
                }
            },

            switchToSignup() {
                if (this.currentView !== 'forgotPassword') {
                    document.querySelector(".wrapper").classList.add('active');
                }
            },

            switchToLogin() {
                if (this.currentView !== 'forgotPassword') {
                    document.querySelector(".wrapper").classList.remove('active');
                }
            },

        }));

        Alpine.data('registerForm', () => ({

            email: '',
            password: '',
            confirmPassword: '',
            errors: {
                email: isEmailExists ? 'Email already exists' : '',
            },


            validateEmail(email) {
                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(email).toLowerCase());
            },

            validatePassword(password) {
                const re = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/;
                return re.test(String(password));
            },

            async checkEmailExists(email) {
                try {
                    const response = await fetch(`/api/user/isEmailExist?email=${email}`);
                    const data = await response.json();
                    return data.isExist;
                } catch (error) {
                    console.error('Error checking email:', error);
                    return false;
                }
            },

            async validateForm() {
                this.errors = {};
                let isValid = true;

                if (!this.email.trim()) {
                    this.errors.email = "Please enter your email";
                    isValid = false;
                } else if (!this.validateEmail(this.email)) {
                    this.errors.email = "Invalid email format";
                    isValid = false;
                }

                if (!this.password) {
                    this.errors.password = "Please enter your password";
                    isValid = false;
                } else if (!this.validatePassword(this.password)) {
                    this.errors.password = "Password must be at least 6 characters with uppercase, lowercase, and number";
                    isValid = false;
                }

                if (!this.confirmPassword) {
                    this.errors.confirmPassword = "Please confirm your password";
                    isValid = false;
                } else if (this.password !== this.confirmPassword) {
                    this.errors.confirmPassword = "Passwords do not match";
                    isValid = false;
                }
                if (isValid) {
                    this.$el.submit();
                }
            }
        }));
    });
</script>

<footer th:replace="~{base :: footer}"></footer>
<div th:replace="~{base :: copyright}"></div>
<script src="/js/searchbar.js"></script>
</body>
</html>